﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RCM.Master" AutoEventWireup="true" CodeBehind="AddApplicant.aspx.cs" Inherits="D8_56361_Sachin.AddPerson" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   
    <h1> Add New Applicant </h1>
    <div style="background-color:azure">
        <table border="1">
            <tr>
                <td> Ration No </td>
                <td>
                    <asp:TextBox ID="TxtRationNo" runat="server"></asp:TextBox></td>
                </tr>
                <tr>
                <td> Person Name </td>
                    <td>
             <asp:TextBox ID="TxtPersonName" runat="server"></asp:TextBox></td>
                </tr>

                  <tr>
                <td> Age </td>
                    <td>
             <asp:TextBox ID="TxtAge" runat="server"></asp:TextBox></td>
                </tr>

              <tr>
                <td> Address </td>
                    <td>
             <asp:TextBox ID="TxtAddress" runat="server"></asp:TextBox></td>
                </tr>

              <tr>
                <td> Contact Number </td>
                    <td>
             <asp:TextBox ID="TxtContact" runat="server"></asp:TextBox></td>
                </tr>

              <tr>
                <td> Status </td>
                    <td>
             <asp:TextBox ID="TxtStatus" runat="server"></asp:TextBox></td>
                </tr>
              <tr>
                <td> Role </td>
                    <td>
             <asp:TextBox ID="Role" runat="server"></asp:TextBox></td>
                </tr>

            <tr>
                <td>
                    <asp:Button ID="ButAdd" runat="server" Text="Add Applicant" OnClick="ButAdd_Click" /></td>
                <asp:Label ID="Labmsz" runat="server" Text="" ForeColor="Green"></asp:Label>
            </tr>
        </table>
    </div>


</asp:Content>
