﻿<%@ Page Language="C#" MasterPageFile="~/RCM.Master" AutoEventWireup="true" CodeBehind="AdminPage.aspx.cs" Inherits="D8_56361_Sachin.AdminPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" 
 runat="server">

    <h1> This Is Admin Page...! </h1>
         
    
</asp:Content>