﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RCM.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="D8_56361_Sachin.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<h1> This is User page...!</h1>
</asp:Content>
