﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RCM.Master" AutoEventWireup="true" CodeBehind="ViewApplicants.aspx.cs" Inherits="D8_56361_Sachin.ViewApplicants" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h3> Applicant Added </h3>
    <h1> Ration no - 1</h1>
    <h1> Person Name- Ramesh Udase</h1>
    <h1> Age - 25</h1>
    <h1> Address - Solapur</h1>
    <h1> Contact No - 8605992305</h1>
    <h1> Status - Single</h1>
    <h1> Role - User</h1>
</asp:Content>
